/* navy blue: #0B1E33 teal: #00537A yellow: #F5A201 Fonts: Didact Gothic (sans serif)
Merienda (stylized serif)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 50px;
    color: #00537A; /* teal*/
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;

}

h3 {
    font-size: 30px;

}

h4 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: #0B1E33; /* navy */
}

p {
    font-family: 'Didact Gothic', sans-serif;
    color: #0B1E33; /* navy */
}

ul {
    list-style-type: none;

}

li {
    color: #0B1E33 !important; /* teal */
}

a {
    color: #FFF;
}

img {
  max-width: 100%;  
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    max-width: 90%;
}

.header-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
}

.header-visual {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.header-visual img {
    max-height: 700px;
}


.feature-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: #F5A201; /*yellow*/
    max-height: 90%;
    margin-bottom: 20px;
    width: 20em;
    height: 20em;
}

.feature img {
    max-height: 400px;
}

.feature p {
    color: #FFFFFF; /* white */
    font-size: 26px;
}

.button {
    background-color: #F5A201; /* yellow */
    padding: 20px;
    color: #0B1E33; /* navy */
    font-weight: bold;
    max-width: 10em;
    text-align: center;
    /*margin-top: 20px;
    margin-bottom: 20px;
    */

}

.bg-dark {
    background-color: #00537A !important;  /*teal*/
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end !important;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.option-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.option-list li {
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
}

.option-list h2,h4 {
   align-self: flex-start;
}

 .search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5em;
    background-color: #0B1E33;
    width: 100%;
    padding: 1em;

}

.search-headers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 10px #0B1E33;
    max-width: 90%;

}

.search-headers h4 {
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
    color: #FFFFFF;
}

.search-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-right: .75em solid #0B1E33;
    max-width: 90%;
    min-width: 0;

}

.search-fields p {
    margin-left: 2em;
    margin-right: 2em;
    color: #0B1E33;
}
.search-fields-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.search-button {
    align-self: flex-end;
}

.search-header {
    flex-direction: column;
    max-width: 100%;
}

.vacation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vacation {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    position: relative;
    max-width: 33%;
    margin-right: 1px;
    margin-bottom: 1px;
}
.vacation p {
    color: #0B1E33; 
    font-size: 26px;
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 2px solid #0B1E33;
    width: 100%;
    padding-top: 2em;
    padding-bottom: .5em;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-me img {
    max-height: 30em;
}

.value {
    display: flex;
    flex-direction: column;
    border: 3px solid #F5A201;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0B1E33;
    padding: 1.5em;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-container h4, a{
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.5em;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .content {
        max-width: 80%;
    }
    
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .header-copy {
        align-items: flex-start;
        width: 40%;
    }
    
    .header-visual {
        order: 4;
        align-items: flex-end;
        width: 60%;
    }
    
    .header-visual img {
        max-height: 700px;
    }
    
    
    .feature-container {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .feature {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 33%;
        background-color: #F5A201; /*yellow*/
        height: 400px;
    }
    
    .feature img {
        max-height: 300px;
    }
    
    .feature p {
        color: #FFFFFF; /* white */
        font-size: 26px;
    }
    
    .option-list h2,h4 {
       align-self: center;
    }
    
    .vacation {
        max-width: 33%;
    }
    
    .about-me {
        flex-direction: row;
        justify-content: space-around;
    }
    .about-me p {
        /*margin-left: 3em;*/
        max-width: 50%;
    }
    
    .value {
        max-width: 30%;
    }
    
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .search-fields-container {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .search-headers {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border: 10px #0B1E33;
        max-width: 90%;
    
    }

}